{% extends 'client_base.html' %}

{% load static %}

{% block title %}
    Kidepo Valley National Park
{% endblock title %}

{% block content %}

<section class="main-destination-section" >
    <div class="destination-hero-img" style="background-image: url('{% static 'images/TTP23Kidepo-9.jpg' %}')">
        <h1>Adere Safari Lodge</h1>
    </div>
</section>

<section class="exploration-section">
    <div class="exploration-unique">
        <div class="exploration-uinque-content">
            <h1>QUICK DESCRIPTION</h1>
            <div class="exploration-unique-details">
                Kidepo valley NP is one of the ten National Park under Uganda Wildlife Authority. It is located for North east of Uganda and is one of the most beautiful park yet less visited by tourists due to accessibility issues. Kidepo National Park has the biggest herds of Buffaloes in the whole world and was voted the best National Park in Africa in 2015. Kidepo Valley NP is popular for large herds of Buffaloes, elephants, giraffes and is the only National Park with cheaters’. The park boosts of many mammals and birds and one will not be disappointed on any given game drive since chances of seeing large herds and big cats hunting are very high. To explore Kidepo Valley NP, one need a minimum of four days here. The park is divided into Narus and Kidepo Valleys with many mammals in Narus and birds, hot springs in Kidepo Valley at the extreme end bordering southern Sudan.
            </div>
        </div>
        <div class="exploration-uinque-img" style="background-image: url('{% static 'images/aderi-1.jpg' %}')"></div>
    </div>
   <hr>
</section>

<section class="glance-paticular-destination-section">
    <h1>Kidepo Valley national park at a glance</h1>
    <div class="glance-gallery transition-imgs">
        <div class="glance-gallery-content main-img">
            <div class="glance-gallery-img img-1" style="background-image: url('{% static 'images/aderi-3.jpg' %}')"></div>
            <div class="glance-gallery-details">
                <h3>The mighty Kidepo Valley National Park </h3>
                <hr>
                <p>taken on a trip with alsion K</p>
            </div>
        </div>
        <div class="glance-gallery-content sub-img">
            <div class="glance-gallery-img img-2" style="background-image: url('{% static 'images/aderi-4.jpg' %}')"></div>
            <div class="glance-gallery-details">
                <h3>The mighty Kidepo Valley National Park </h3>
                <hr>
                <p>taken on a trip with alsion K</p>
            </div>
        </div>
    </div>
    <div class="glance-gallery">
        <div class="glance-gallery-content main-img">
            <div class="glance-gallery-img img-1" style="background-image: url('{% static 'images/aderi-car.jpg' %}')"></div>
            <div class="glance-gallery-details">
                <h3>The mighty Kidepo Valley National Park </h3>
                <hr>
                <p>taken on a trip with alsion K</p>
            </div>
        </div>
        <blockquote class="glance-quote">
            <p>"Travel makes one modest, you see what a tiny place you occupy in the world."</p>
            <footer>- Gustave Flaubert</footer>
        </blockquote>
          
    </div>
</section>

<section class="paticular-destination-packges-section">
    <h1>explore the Kidepo National Park packages</h1>
    <hr>
    <div class="paticular-destination-packges">
        <a href="" class="paticular-destination-packges-profiles">
            <div class="paticular-destination-profile-img" style="background-image: url('{% static 'images/img16.jpg' %}')"></div>
            <div class="paticular-destination-profile-details">
                <h3>name</h3>
                <hr>
                <p>
                    <i class="fa fa-far fa-dot-circle"></i>
                    12 Days
                </p>
                <p>
                    <i class="fa fa-far fa-dot-circle"></i>
                    3-6 People
                </p>
                <p>
                    <i class="fa fa-far fa-dot-circle"></i>
                    USD 3000/person
                </p>
                
            </div>
        </a>
        <a href="" class="paticular-destination-packges-profiles">
            <div class="paticular-destination-profile-img" style="background-image: url('{% static 'images/img20.jpg' %}')"></div>
            <div class="paticular-destination-profile-details">
                <h3>name</h3>
                <hr>
                <p>
                    <i class="fa fa-far fa-dot-circle"></i>
                    12 Days
                </p>
                <p>
                    <i class="fa fa-far fa-dot-circle"></i>
                    3-6 People
                </p>
                <p>
                    <i class="fa fa-far fa-dot-circle"></i>
                    USD 3000/person
                </p>            
            </div>
        </a>
        <a href="" class="paticular-destination-packges-profiles">
            <div class="paticular-destination-profile-img" style="background-image: url('{% static 'images/img10.jpg' %}')"></div>
            <div class="paticular-destination-profile-details">
                <h3>name</h3>
                <hr>
                <p>
                    <i class="fa fa-far fa-dot-circle"></i>
                    12 Days
                </p>
                <p>
                    <i class="fa fa-far fa-dot-circle"></i>
                    3-6 People
                </p>
                <p>
                    <i class="fa fa-far fa-dot-circle"></i>
                    USD 3000/person
                </p>            
            </div>
        </a>
        <a href="" class="paticular-destination-packges-profiles">
            <div class="paticular-destination-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="paticular-destination-profile-details">
                <h3>name</h3>
                <hr>
                <p>
                    <i class="fa fa-far fa-dot-circle"></i>
                    12 Days
                </p>
                <p>
                    <i class="fa fa-far fa-dot-circle"></i>
                    3-6 People
                </p>
                <p>
                    <i class="fa fa-far fa-dot-circle"></i>
                    USD 3000/person
                </p>            
            </div>
        </a>
    </div>
</section>


<section class="bloging-article-categories blogs">
    <h1>stories and blogs</h1> 
    <div class="bloging-articles">
        <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
            <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="bloging-article-profile-details">
                <h3>Bwindi Impenetreable National Park</h3>
                <hr>
                <div class="bloging-article-profile-icons">
                    <button><i class="fas fa-heart"></i>12</button>
                    <button><i class="fas fa-comment"></i>2</button>
                </div>
            </div>
        </a>
        <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
            <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="bloging-article-profile-details">
                <h3>Muchiso Falls National Park</h3>
                <hr>
                <div class="bloging-article-profile-icons">
                    <button><i class="fas fa-heart"></i>12</button>
                    <button><i class="fas fa-comment"></i>2</button>
                </div>
            </div>
        </a>
        <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
            <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="bloging-article-profile-details">
                <h3>Kidepo Valley National Park</h3>
                <hr>
                <div class="bloging-article-profile-icons">
                    <button><i class="fas fa-heart"></i>12</button>
                    <button><i class="fas fa-comment"></i>2</button>
                </div>
            </div>
        </a>
        <a href="{% url 'client:read_blog_page' %}" class="bloging-article-profile">
            <div class="bloging-article-profile-img" style="background-image: url('{% static 'images/img12.jpg' %}')"></div>
            <div class="bloging-article-profile-details">
                <h3>murchison Falls National Park</h3>
                <hr>
                <div class="bloging-article-profile-icons">
                    <button><i class="fas fa-heart"></i>12</button>
                    <button><i class="fas fa-comment"></i>2</button>
                </div>
            </div>
        </a>
    </div>
    <a href="{% url 'client:main_blog_page' %}" class="view-all-blogs"> <i class="fas fa-angle-right"></i> View all blogs</a>

</section>


{% include 'partials/client/client_footer.html' %}
{% endblock content %}